<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.javaapp.workmanagement" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.javaapp.workmanagement.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".master.MasterMainActivity"
            android:label="@string/title_activity_master_main" >
        </activity>
        <activity
            android:name=".master.CreateTaskActivity"
            android:label="@string/title_activity_create_task" >
        </activity>
        <activity
            android:name=".master.TrackingActivity"
            android:label="@string/title_activity_tracking" >
        </activity>
        <activity
            android:name=".master.ReportsActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name=".activities.TaskListActivity"
            android:label="@string/title_activity_task_list" >
        </activity>
    </application>

</manifest>
